a {
  text-decoration: none;
}

p,
li,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #282c34;
}

.app__container {
  text-align: center;
}

.home__container {
  margin: 2.5rem 0;
}

.home__description {
  font-size: 18px;
}
